@import "../../../utils";

.container {
    position: relative;
    display: flex;
    margin: auto;
    max-width: 1200px;
    padding: 25px 25px 29px 24px;
    box-sizing: border-box;
}

.helloContainer {
    margin: auto auto auto 0;
    //width: 88px;
    font-family: var(--font-family);
}

.text1 {
    font-weight: 500;
    font-size: 15px;
    color: #000;
    margin: 0;
}

.text2 {
    font-weight: 300;
    font-size: 9px;
    color: #757575;
    margin: 0;
}

.profilePic {
    margin-left: auto;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #f8eadd;
    border: 0.5px solid #6e595d;
}

.iconLeaf {
    backdrop-filter: blur(3px);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

@include lg {
    .iconLeaf {
        display: none;
    }
}
