@import "../../../utils";

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  box-sizing: border-box;
}

.head {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 11px;
  color: #000;
  padding-left: 29px;
  padding-bottom: 24px;
  margin: 0;
}


