@import "../../utils";

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  margin-top: 60px;
}

.headerText {
  width: 100%;
  margin: 0;
  text-align: center;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: #444;
}

.headerButton {
  position: absolute;
  left: 20.5px;
  top: 4.8px;

  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
}

.body {
  margin-left: 22px;
  margin-right: 15px;
  margin-top: 62px;

  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blockDateTime {
  width: 100%;
  max-width: 500px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 34px;

  margin-left: auto;
  margin-right: auto;
}

.categories {
  width: 100%;
  max-width: 500px;
  position: relative;
}

.arrow {
  position: absolute;
  pointer-events: none;
  top: 11px;
  right: 14.5px;
}

.textHead {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  color: #000;
  max-width: 500px;
  width: 100%;

  margin: 0 auto 11px;
}

.input {
  box-sizing: border-box;

  border: 1.14px solid rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  padding: 0 0 0 14.5px;

  width: 100%;
  max-width: 500px;
  height: 37px;

  font-family: var(--font-family);
  font-style: italic;
  font-weight: 500;
  font-size: 12px;
  color: #000;
}

.inputDesc {
  @extend .input;
  height: 100px;
  resize: none;
  overflow: hidden;
  max-lines: 5;
  padding: 14.5px;
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.select {
  box-sizing: border-box;
  appearance: none;

  height: 37px;
  width: 100%;
  max-width: 500px;
  padding: 0 14.5px 0 14.5px;


  margin-left: auto;
  margin-right: auto;

  border: 1.14px solid rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  background-color: #FFFFFF;

  font-family: var(--font-family);
  font-style: italic;
  font-weight: 500;
  font-size: 12px;
  color: #000;
}

.priorityTable {
  width: 100%;
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 12px;
}

.priority {
  box-sizing: border-box;
  background-color: rgba(151, 71, 255, 0.3);
  border-radius: 8px;
  border-width: 0;
  padding: 9px 10px;
  width: 100%;
  height: 30px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  color: #000;

  text-align: center;
  cursor: pointer;
}

.priority:hover {
  background-color: #9747ff;
  color: #fff;
}

.priority:active {
  background-color: rgba(151, 71, 255, 0.3);
  color: #000;
}

.createButton {
  margin-top: 4px;
  margin-right: auto;
  margin-left: auto;

  border-radius: 10px;
  padding: 10px 35px;
  max-width: 500px;
  width: 100%;
  height: 39px;
  background: #9747ff;
  border: none;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  color: white;

  cursor: pointer;
}

.createButton:hover {
  background-color: rgba(151, 71, 255, 0.8);
}

.createButton:active {
  background-color: rgba(151, 71, 255, 1);
}