@import "../../../utils";

.container {
    padding: 0 31px 28px 24px;
}

.table {
    display: grid;
    //grid-template-columns:  1fr  1fr;
    grid-template-columns: repeat(2, minmax(143px,  1fr));
    grid-auto-rows:  1fr;
    column-gap: 19px;
    row-gap: 17px;
}

.block {
    display: flex;
    flex-direction: column;

    padding: 11px 17px;
    width: 100%;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 15px;
    color: #000;

    border-radius: 8px;
    border-width: 0;
}

.blockPlus {
    @extend .block;
    background-color: white;
    border: 0.5px solid #9747ff;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;

    border-radius: 50%;

    background-color: #FFFFFF;
}

.info {
    display: flex;
    justify-content: space-between;

    margin-top: 5px;
    width: 100%;
}

.plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.name {
    margin-right: 5px;
    overflow: hidden; /* Скрывает текст, выходящий за границы элемента */
    white-space: nowrap; /* Предотвращает перенос текста на новую строку */
    text-overflow: ellipsis; /* Добавляет многоточие в конце текста, если он не влазит */
    text-align: left;
}

@include sm {
    .table {
        grid-template-columns: repeat(3, minmax(143px,  1fr));
    }
}

@include md {
    .table {
        grid-template-columns: repeat(4, minmax(143px,  1fr));
    }
}

@include lg {
    .table {
        grid-template-columns: repeat(5, minmax(143px,  1fr));
    }

    .block:hover {
        filter: brightness(93%);
    }

    .block:active {
        filter: brightness(100%);
    }
}
