@import "../../utils";

.container {
  height: auto;
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.head {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: url("src/assets/gradient_profile.png");
  background-size: cover; /* или 100% 100% для растяжения */
  background-repeat: no-repeat;
}

.form {
  position: relative;
  box-sizing: border-box;
  padding-right: 46px;
  padding-left: 36px;
  padding-top: 54px;
  margin: 0 auto;

  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputDiv {
  width: 100%;
  max-width: 500px;
  position: relative;
}

.inputIcon {
  position: absolute;
  z-index: 0;
  right: 22px;
  top: 18px;
}

.input {
  width: 100%;
  box-sizing: border-box;

  max-width: 500px;

  border: 1px solid #757575;
  border-radius: 8px;
  padding: 18px 22px;
  margin-bottom: 29px;
  height: 51px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  color: #757575;
}

.logOut {
  width: 100%;
  box-sizing: border-box;

  max-width: 125px;

  border-radius: 8px;
  border: 0;
  padding: 15px 36px;
  height: 47px;
  margin-top: 37px;
  margin-bottom: 37px;

  background: #ff5757;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: white;

  cursor: pointer;
}

.textForm {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: #000;

  width: 100%;
  max-width: 500px;

  margin-top: 0;
  margin-bottom: 16px;
}

.content {
  display: flex;
  max-width: 1200px;
}

.photoLabel {
  cursor: pointer;

  position: relative;

  margin: 105px auto 0;
  width: 133px;
  height: 133px;
}

.profilePic {
  width: 133px;
  height: 133px;
  border-radius: 50%;
  background-color: #dac8f1;
}

.nameText {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: #000;
  text-align: center;
  min-height: 17px;

  margin-top: 9px;
  margin-bottom: 32px;

  position: relative;
}

.editIcon {
  background-image: url("/src/assets/edit_icon.svg");
  position: absolute;
  bottom: -4px;
  right: 20px;
  width: 25px;
  height: 25px;
}

.leafTop {
  position: absolute;
  top: 0;
  left: 100px;
  right: 98px;
  height: 44px;
  background-image: url("src/assets/leaf.svg");
}

.leaf {
  backdrop-filter: blur(3px);
  position: absolute;
}

.leaf1 {
  @extend .leaf;
  bottom: 0;
  left: 0;
  transform: rotate(180deg);
}

.leaf2 {
  @extend .leaf;
  bottom: 95px;
  left: 0;
}

.leaf3 {
  @extend .leaf;
  bottom: 196px;
  left: 0;
  transform: rotate(90deg);
}

.leaf4 {
  @extend .leaf;
  bottom: -2px;
  right: 0;
  transform: rotate(-90deg);
}

.leaf5 {
  @extend .leaf;
  bottom: 96px;
  right: 0;
  transform: rotate(-90deg);
}

.leaf6 {
  @extend .leaf;
  bottom: 196px;
  right: 0;
}

.botLeaf {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 99px;
  backdrop-filter: blur(3px);
}

.containerBack {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1200px;

  margin: 0 auto;
}

.backButton {
  position: absolute;
  top: 30px;
  left: 27px;

  border: none;
  background: none;

  cursor: pointer;
}

.groups {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;

  max-width: 1200px;
  width: 100%;

  display: grid;
  justify-items: center; /* Выравнивание элементов по горизонтали по центру */
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 16px;
}

.groupButton {
  display: flex;
  width: 100%;
  box-sizing: border-box;

  max-width: 500px;

  border-radius: 8px;
  border: 0;
  padding: 13px 21.5px 12px 21px;
  height: 51px;
  //background-color: black;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 11px;
  color: black;

  cursor: pointer;
}

.iconGroup {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;

  border-radius: 50%;

  background-color: #FFFFFF;
}

.nameGroup {
  margin: auto 14px;

  overflow: hidden; /* Скрывает текст, выходящий за границы элемента */
  white-space: nowrap; /* Предотвращает перенос текста на новую строку */
  text-overflow: ellipsis; /* Добавляет многоточие в конце текста, если он не влазит */
  text-align: left;
}

.editIconGroup {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.blockPlus {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  max-width: 500px;
  margin-top: 16px;

  border-radius: 8px;
  border: 1px solid #757575;  padding: 13px 21.5px 12px 21px;
  height: 51px;
  background-color: #FFFFFF;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 11px;
  color: black;

  cursor: pointer;
}

.plus {
  margin-right: auto;
  margin-left: auto;
}

@include lg {
  .logOut:hover {
    background-color: rgba(255, 87, 87, 0.90);
  }
  .logOut:active {
    background-color: rgba(255, 87, 87, 1);;
  }
  .input:hover {
    filter: brightness(93%);
  }
  .botLeaf {
    display: none;
  }
  .groupButton:hover {
    filter: brightness(93%);
  }

  .groupButton:active {
    filter: brightness(100%);
  }

  .blockPlus:hover {
    filter: brightness(93%);
  }

  .blockPlus:active {
    filter: brightness(100%);
  }
}

@include sm {
  .leaf {
    display: none;
  }
  .leafTop {
    display: none;
  }
  .photoLabel {
    margin-top: 85px;
  }
  .nameText {
    margin-bottom: 52px;
  }
}